$primary-color: #670000; 
$second-color: #e02b20;
$gray-color: #d4d4d4;

$primary-inverse-color: #ffffff;
$second-inverse-color: #ffffff;
$gray-inverse-color: #17394d;

$description-text-color: #7f7f7f;

$danger-color: red;
$success-color: green;

$font-large: 20px;
$font-medium: 14px;
$font-small: 12px;


$break-small: 480px;
$break-large: 1200px;

$important-color: #670000;